<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.launchmode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NoHistroyActivity"></activity>
        <activity android:name=".BroadCastActivity" />
        <activity android:name=".FlagActivity" />
        <activity
            android:name=".NewTaskActivity"
            android:allowTaskReparenting="true"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".InstanceActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".PayActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".StandardActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.StandardService" />

        <receiver android:name=".broadcast.NotificationReceiver">
            <intent-filter>
                <action android:name="com.launchmode.receiver"/>
            </intent-filter>
        </receiver>

        <!--启动mybroadcast广播-->
        <receiver android:name=".broadcast.MyBroadCast">
            <intent-filter>
                <action android:name="com.launchmode.mybroadcast"></action>
            </intent-filter>
        </receiver>

        <!--启动有序广播-->
        <receiver android:name=".broadcast.OneBroadCast">
            <intent-filter android:priority="1000">
                <action android:name="com.launchmode.orderbroadcast"></action>
            </intent-filter>
        </receiver>

        <receiver android:name=".broadcast.TwoBroadCast"
            android:process=":two">
            <intent-filter android:priority="900">
                <action android:name="com.launchmode.orderbroadcast"></action>
            </intent-filter>
        </receiver>

        <receiver android:name=".broadcast.ThreeBroadCast">
            <intent-filter android:priority="800">
                <action android:name="com.launchmode.orderbroadcast"></action>
            </intent-filter>
        </receiver>


    </application>

</manifest>